.middle--box {
  display: flex;
  width: 90%;
  height: 12%;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  border-radius: 8px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.middle--text {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.middle--info {
  width: 70%;
  height: 95%;
  display: flex;
  border-radius: 8px;
  background-color: rgba(127, 127, 127, 0.1);
  align-items: center;
  padding: 2px;
  justify-content: space-evenly;
}

.info--balance {
  height: 90%;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  color: #00cdbe;
}

.balance--header {
  font-size: 10px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#ghc {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5px;
  padding-right: 2px;
}

#circpro {
  --CircularProgress-progressColor: #00cdbe;
  color: #00cdbe;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 10px;
}

#ir {
  color: white;
}

.balance--amount {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  width: 100%;
}
.info {
}
