#logout--box {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
}

#alert-logout-title {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
}
#alert-logout-description {
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 14px;
}

#logout--button {
  width: 90px;
  height: 30px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  background-color: #00cdbe;
  color: white;
}

#logout--button:hover {
  background-color: white;
  color: #00cdbe;
  border: 2px solid #00cdbe;
}
