.box--main {
  width: 90%;
  height: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form--button {
  width: 90px;
  height: 30px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  background-color: #00cdbe;
  color: white;
}

.form--button:hover {
  background-color: white;
  color: #00cdbe;
  border: 2px solid #00cdbe;
}

#butt-col{
  background-color:white;
  color: #00cdbe;
  border: 2px solid #00cdbe;
}
